.btn-style1 {
    border-radius: 10%;
    text-decoration: none;
    background-color: rgba(3, 3, 59, 0.87);
    color: white;
    padding: 5px;
}

.btn-style1:hover {
    background-color: lightblue;
    cursor: pointer;
}

.btn-style2 {
    border-radius: 10%;
    text-decoration: none;
    background-color: rgb(249 155 67);
    color: white;
    padding: 5px;
}

.btn-style2:hover {
    background-color: lightblue;
    cursor: pointer;
}

.btn-style3 {
    border-radius: 10%;
    text-decoration: none;
    background-color: rgb(245, 69, 69);
    color: white;
    padding: 5px;
}

.btn-style3:hover {
    background-color: lightblue;
    cursor: pointer;
}