@charset "UTF-8";

.container, .content {
	width: 70%;
	margin: auto;
}


.idFind {
	width: 550px;
	margin: auto;
}

.findBackground {
	width: 650px;
	margin: auto;
	background-color: rgb(210 212 218 / 89%);
	padding: 35px;
}

.idFind>h1, .findBackground>h2, .findBackground>h3 {
	text-align: center;
}

.btn_area{
	width : 70%;
	height: 35px;
	margin : auto;
}

.btn_area > span {
	width : 45%;
	height: 100%;
	float : left;
}

.btn{
	background-color: #283e69;
	border : none;
	color : white;
	width : 100%;
	height: 100%;
	padding : 1px 8px 1px 8px; 
}

#btn_main {
	margin : 0 10px 0 10px;
	background-color: rgb(75, 111, 181);
}

#btn_login{
	margin-left: 20px;
}

.back {
background-color: #fbf9f9;
padding : 40px 50px 50px 50px;
margin : auto;
}

