@charset "UTF-8";


.container{
 	width : 100%;
	margin : 0;
	padding-top : 20px;
}

.content{
	width : 70%;
	height : 100%;
	box-sizing: border-box;
	display : inline-block;
}

.area {
	display : inline-block;
	margin-left : 40px;
	width : 730px;
}

.area > h3 {
	margin-top : 8px;
}

.back {
	background-color: rgb(248 248 249 / 69%);
}

.myInfoTable {
	display : inline-block;
	margin-left : 30px;
	margin-top : 5px;
}

.t_left {
	border-right : 1px solid rgb(166 167 169 / 89%);
	width : 25%;
	padding : 0;
	margin-bottom: 12px;
}

.t_right{
	width : 65%;
}

.title{
	text-align: right;	
	font-size: 15px;
}

.myInfoTable > tbody > tr {
	padding : 5px 0 5px; 
}

.btn{
	width : 82px;
	height: 25px;
	background-color: rgb(249 155 67);
    border: 0px;
    color : white;
    font-size: 13px;
}

h3{
	margin : 3px 0 3px;
}

h4, h5{
	margin : 3px 0 3px;
	text-align: center;
}



#cThumbnail_area {
	width: 160px;
	height: 200px;
	margin-right: 20px;
}

#cThumbnail{
	width : 160px;
	height : 160px;
	margin : auto;
	padding : 0;
}



.boardNo {
	padding-right: 15px;
}


#cboard{
	width: 290px;
	
}

.cTitle_td{
	padding : 0 30px 0 20px;
}


.list_area{
	width : 300px;

	overflow: hidden;
    white-space: nowrap;
	 text-overflow: ellipsis;
	 display : block;
	 margin-right: 25px;
}


.list_wrapper{
	display : table;
	margin-left: 40px;
}

.myBoardlistAll, .myReplylistAll {
	width: 350px;
	display : table-cell;
	margin : auto;
}

.allTimeChallenges_area {
	display: table-row;
}

.list_wrapper h3 {
	margin-top : 20px;
}


.more{
	float : right;
	margin-right : 25px;
}

.more {
	text-decoration: none;
	color : black;
}

.cTitle_td cTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}