@charset "UTF-8";

.wrapper{
    width: 70%;
    height: 1000px;

    /* 해당 요소를 가로 가운데 정렬 */
    margin : auto
}

.wrapper > h2{
	padding-left: 20px;
}
.input-area{
	margin-right: 18px;
}

.input{
	width: 95%;
	padding-left: 20px;
	padding-right: 20px;
	margin : 0 0 0 0;
}

.title-input{
	margin-top: 17px;
	width: 80%;
	height : 25px;
	border-radius: 3px;
	border:1px solid #d4d6d4fa;
	
}

.date{
	margin-right: 60px;
	border:1px solid #d4d6d4fa;
}
.ch-cat{
	width : 150px;
	height : 25px;
	border:1px solid #d4d6d4fa;
}

/* 파일 업로드 */
.form-line{
	width : 100%;
	height : 220px;
	display: flex;
}
.form-line-sb{
	width : 100%;
	height : 170px;
	display: flex;
}

.title-img{
	padding-top : 10%;
	margin-right: 20px;
}
.t-img{
	padding-top : 6%;
	margin-right: 58px;
}
.ch-board-Img{
	margin-right: 16px;
}
#fileArea{
	
}

/* 인증 방법 */
.rule-input{
	width: 85%;
	height : 25px;
	border:1px solid #d4d6d4fa;
}

.form-control{
	width: 100%;
	margin-top : 15px;
	margin-bottom: 30px;
}

/* 버튼 */
.text-center{
	width : 100%;
	height : 30px;
	margin-top: 38px;
}
.btn{
	width: 70px;
	height: 100%;
	margin-left: 15px;
	float : right;
}













